opencv-python==4.7.0.72
pyvips==2.2.1
cloudpathlib==0.13.0
tensorflow==2.12.0
mlxtend==0.22.0
seaborn==0.12.2
tensorflow_decision_forests==1.3.0
xgboost==1.7.5
scikit-image==0.20.0
pilkit==2.0
shapely==2.0.1